/*GLOBAL*/

    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        scrollbar-width: none;
    }

    *::-webkit-scrollbar{
        display: none;
    }

    html, body{
        height: 100%;
    }

    main {
        position: relative;
    }

    input:not(input[type="submit"], input[type="radio"]) {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 150px;
        outline: none;
        background: none;
        border: solid 2px rgb(9, 77, 77);
        border-radius: 24px;
        padding: 10px 5px;
        margin: 20px auto;
        transition: 0.3s;
        font-size: 14px;
        font-weight: bold;
    }

    input:not(input[type="submit"], input[type="radio"]):focus {
        width: 180px;
    }

    input[type="radio"] {
        display: none;
    }

    input[type="submit"] {
        background: none;
        margin: 20px auto;
        border: 2px solid rgb(9, 77, 77);
        border-radius: 24px;
        width: 100px;
        padding: 10px 5px;
        outline: none;
        transition: 0.3s;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
    }

    input[type="submit"]:hover{
        background-color: rgb(9, 77, 77);
        color: whitesmoke;
    }

/*NAV BAR*/

    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 5vh;
        background-color: #1A5653;
    }

    .logo{
        color:whitesmoke;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 20px;
        cursor: pointer;
        font-weight: bold;
        z-index: 1;
    }

    .logo a{
        text-decoration: none;
        color:whitesmoke;
        background: none;
    }

    .logo a:hover {
        opacity: 0.5;
    }

    .nav-links{
        display: flex;
        justify-content: space-around;
        width: 50%;
        z-index: 1;
        background: #1A5653;
    }

    .nav-links li{
        list-style: none;
        background: none;
    }

    .nav-links a{
        color:whitesmoke;
        text-decoration: none;
        letter-spacing: 3px;
        font-size: 14px;
        font-weight: bold;
        background: none;
    }

    .nav-links a:hover {
        opacity: 0.5;
    }

    .burger{
        display: none;
        cursor: pointer;
        background: none;
        z-index: 1;
    }

    .burger div{
        width: 25px;
        height: 3px;
        background-color:whitesmoke;
        margin: 5px;
        transition: all 0.3s ease;
    }

/*INDEX*/

    .explore {
        display: flex;
        justify-content: center;
        
    }

    .explore a{
        text-decoration: none;
        border: solid 3px #1A5653;
        border-radius: 24px;
        padding: 10px;
        color: #08313A;
        font-size: 20px;
        font-weight: bold;
    }

    .explore a:hover{
        background: #1A5653;
        color: whitesmoke;
    }

    .find-hikingbuddies h2{
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        color: #1A5653;
    }

    .find-hikingbuddies h1{
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        color: #1A5653;
    }

    video{
        position: absolute;
        background-image: url(media/forest-1440p.mp4);
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        z-index: -1;
    }

/* TOURS */

    .addTour {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 5vh;      
    }

    .addTour a{
        text-decoration: none;
        border: solid 3px #1A5653;
        border-radius: 24px;
        padding: 10px;
        color: #08313A;
        font-size: 20px;
        font-weight: bold;
    }

    .addTour a:hover{
        background: #1A5653;
        color: whitesmoke;
    }

/*ADD TOUR*/

    .new-hike{
        width: 600px;
        padding: 40px;
        margin: auto;
        text-align: center;
        color: #08313A;
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }

    .new-hike h1{
        color: #08313A;
        background: none;
    }


    .new-hike label{
        display: flex;
        flex-direction: column;
        width: 300px;
        border: solid 2px rgb(9, 77, 77);
        border-radius: 24px;
        padding: 10px 5px;
        margin: 5px auto;
        transition: 0.3s;
        cursor: pointer;
        font-weight: bold;
        font-size: 14px;
    }

    .new-hike input[type="radio"]:checked + label{
        background-color: rgb(9, 77, 77);
        color: whitesmoke;
    }

    .new-hike textarea{
        display: flex;
        flex-direction: column;
        height: 250px;
        width: 300px;
        outline: none;
        background: none;
        border: solid 2px rgb(9, 77, 77);
        padding: 10px 5px;
        margin: 20px auto;
        border-radius: 5px;
        font-weight: bold;
        font-size: 12px;
        resize: none;
        transition: 0.3s;
    }

    textarea:focus{
        width: 350px;
    }

/* ABOUT US */

    .who-are-we {
        display: flex;
        flex-direction: column;
        text-align: justify;
        font-size: 18px;
        width: 50%;
        margin: 60px auto;
        border: rgb(9, 77, 77) 5px solid;
        border-radius: 24px;
        padding: 20px;
    }

/* LOGIN */

    .loginform {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 5vh auto;
        border-radius: 24px;
        padding: 10px 20px;
    }

    .loginform p {
        font-size: 12px;
    }

    .loginform p a{
        text-decoration: none;
        color: orange;
    }

/* REGISTER */


    #aboutyourself_id {
        display: flex;
        flex-direction: column;
        width: 280px;
        height: 150px;
        outline: none;
        background: none;
        border: solid 2px rgb(9, 77, 77);
        padding: 10px 5px;
        margin: 20px auto;
        border-radius: 5px;
        font-weight: bold;
        font-size: 12px;
        resize: none;
        transition: 0.3s;
    }
    #aboutyourself_id:focus {
        width: 300px;
    }


/* MOBILE */
    
    @media screen and (max-width: 768px){
    
        body{
            overflow-x: hidden;
        }
         .nav-links{
             position: absolute;
             right: 0px;
             height: 95vh;
             top: 5vh;
             display: flex;
             flex-direction: column;
             align-items: center;
             width: 30%;
             transform: translateX(100%);
             transition: transform 0.3s ease-in;
         }
    
         .burger{
             display: block;
         }
    }
    
    .nav-active{
        transform: translateX(0%);
    }
    
    .toggle .line1{
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px, -6px);
    }
